<h2>Productos - <small>EL Baraton </small></h2>
<hr>


<div class="card-columns">
  <div class="card text-center" *ngFor="let product of products">
    <img class="card-img-top" src="../../../assets/images/rappitendero.svg" alt="Image - {{ product.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">
        {{ product.price}} <br/> Cantidad: {{ product.quantity}}
      </p>
      <a href="#" class="btn btn-primary btn-block">Comprar</a>
    </div>
  </div>

</div>
